{{- if eq .OrmLibrary "drizzle" -}}
import { mysqlTable, serial, text, timestamp, varchar } from 'drizzle-orm/mysql-core'

export const examples = mysqlTable('examples', {
  id: serial('id').primaryKey(),
  name: varchar('name', { length: 255 }).notNull(),
  createdAt: timestamp('created_at').defaultNow().notNull(),
  updatedAt: timestamp('updated_at').defaultNow().notNull(),
})
{{- end}}
