package main

import (
	"fmt"
	"net/http"
	"os"

	"{{.ModulePath}}/internal/interface/handler"
)

func main() {
	fmt.Println("{{.ServiceName}} service")
	if err := run(); err != nil {
		fmt.Fprintf(os.Stderr, "error: %v\n", err)
		os.Exit(1)
	}
}

func run() error {
	mux := handler.NewRouter()
	addr := ":8080"
	fmt.Printf("listening on %s\n", addr)
	return http.ListenAndServe(addr, mux)
}
