package graphql

// Resolver is the root resolver that implements the generated ResolverRoot interface.
// Add service/port dependencies here and pass them from main.
type Resolver struct {
	// TODO: Add service dependencies here.
	// commander port.ExampleCommander
	// querier   port.ExampleQuerier
}
