# Application
APP_APP_NAME={{.ServiceName}}
APP_APP_ENVIRONMENT=development

# Logger
APP_LOGGER_LEVEL=info
APP_LOGGER_FORMAT=json
{{- if .HasHTTP}}

# HTTP
APP_HTTP_PORT=8080
{{- end}}
{{- if .HasGRPC}}

# gRPC
APP_GRPC_PORT=9090
{{- end}}
{{- if .HasMySQL}}

# MySQL
APP_MYSQL_DSN=root:password@tcp(localhost:3306)/{{.ServiceName}}?parseTime=true
{{- end}}
{{- if .HasPostgreSQL}}

# PostgreSQL
APP_POSTGRESQL_DSN=postgres://postgres:password@localhost:5432/{{.ServiceName}}?sslmode=disable
{{- end}}
{{- if .HasRedis}}

# Redis
APP_REDIS_ADDR=localhost:6379
{{- end}}
{{- if .HasKafka}}

# Kafka
APP_KAFKA_BROKERS=localhost:9092
APP_KAFKA_CONSUMER_GROUP={{.ServiceName}}-group
{{- end}}
{{- if .HasI18n}}

# i18n
APP_APP_DEFAULT_LOCALE=en
{{- end}}
{{- if .HasMailpit}}

# Mailpit (local email testing)
APP_MAILPIT_HOST=localhost
APP_MAILPIT_PORT=1025
APP_MAILPIT_FROM=noreply@{{.ServiceName}}.local
{{- end}}
