package main

import (
	"log/slog"
	"os"

	"{{.ModulePath}}/internal/bootstrap"
)

var version = "dev"

func main() {
	if err := bootstrap.Run(version); err != nil {
		slog.Error("application error", "error", err)
		os.Exit(1)
	}
}
